[Container]
AutoUpdate=registry
ContainerName=whodis
DropCapability=ALL
Image=foundry.fsky.io/fsky/whodis:latest
LogDriver=none
NoNewPrivileges=true
PublishPort=12334:8080
ReadOnly=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
